{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Authentication</title>
    <link rel="stylesheet" href="/static/Auth/style.css">
    <script src="//accounts.google.com/gsi/client" async></script>
</head>
<body>
    <div class="social-wrapper">
        <h1>Sign in with</h1>
        
        <!-- Google Sign-In button -->
        {% comment %} <a href="{% provider_login_url 'google' %}">Google</a> {% endcomment %}
<div id="g_id_onload" data-client_id="16493192927-ae0rgfur0dl8q2qefvn3cpmc9t2em1rd.apps.googleusercontent.com" data-login_uri="{% url 'google_login_by_token' %}"> Google </div>
        
        <!-- Add more social login buttons as needed -->
    </div>
</body>
</html>
